body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 10px;
    padding-left: 30px;
}

.half-width img {
    width: 50%;
    margin-top: 60px;
    margin-left: 50px;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    margin-bottom: 50px;
}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    margin: 5%;
    padding-left: 20px;
}

#full-developer {
    border-left: 7px solid orange;
}

#baby-developer {
    border-left: 7px solid blue;
}

#foot {
    text-align: center;
    font-weight: 700;
}